# Predizendo aprovação de crédito

In [12]:
import sklearn
import pandas as pd

In [2]:
df = pd.read_csv('credit_customers.csv')

In [3]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [4]:
df.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [5]:
df.dropna().describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [6]:
df.dropna(inplace=True)

In [19]:
df = pd.get_dummies(df)

In [20]:
df

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,...,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes,class_bad,class_good
0,6.0,1169.0,4.0,4.0,67.0,2.0,1.0,False,True,False,...,False,True,False,False,False,True,False,True,False,True
1,48.0,5951.0,2.0,2.0,22.0,1.0,1.0,True,False,False,...,False,True,False,False,True,False,False,True,True,False
2,12.0,2096.0,2.0,3.0,49.0,1.0,2.0,False,False,False,...,False,False,False,True,True,False,False,True,False,True
3,42.0,7882.0,2.0,4.0,45.0,1.0,2.0,False,True,False,...,False,True,False,False,True,False,False,True,False,True
4,24.0,4870.0,3.0,4.0,53.0,2.0,2.0,False,True,False,...,False,True,False,False,True,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,1736.0,3.0,4.0,31.0,1.0,1.0,False,False,False,...,False,False,False,True,True,False,False,True,False,True
996,30.0,3857.0,4.0,4.0,40.0,1.0,1.0,False,True,False,...,True,False,False,False,False,True,False,True,False,True
997,12.0,804.0,4.0,4.0,38.0,1.0,1.0,False,False,False,...,False,True,False,False,True,False,False,True,False,True
998,45.0,1845.0,4.0,4.0,23.0,1.0,1.0,False,True,False,...,False,True,False,False,False,True,False,True,True,False
999,45.0,4576.0,3.0,4.0,27.0,1.0,1.0,True,False,False,...,False,True,False,False,True,False,False,True,False,True

In [22]:
# Separando treino e teste
train = df.sample(frac=0.8, random_state=200)
test = df[~df.index.isin(train.index)]

x_train, y_train = train.drop(columns=['class_good', 'class_bad']), train['class_good']
x_test, y_test = test.drop(columns=['class_good', 'class_bad']), test['class_good']

In [8]:
# model = tf.keras.Sequential([
#     tf.keras.layers.Flatten(input_shape=(20,)),
#     tf.keras.layers.Dense(20, activation='relu'),
#     tf.keras.layers.Dense(20, activation='relu'),
#     tf.keras.layers.Dense(2)
# ])

In [9]:
# model.compile(
#     optimizer='adam',
#     loss=tf.losses.SparseCategoricalCrossentropy(from_logits=True),
#     metrics=['accuracy']
# )

In [ ]:
# model.fit(x_train, y_train, epochs=5, validation_data=(x_test, y_test))

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
lr = LogisticRegression()

In [26]:
lr.fit(x_train, y_train)

/home/pedro/Projetos/Estudo/FastAPI/.env/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
predito = lr.predict(x_test)

In [28]:
from sklearn.metrics import mean_squared_error

In [31]:
mean_squared_error(y_test.astype(int), predito.astype(int))

0.215

In [32]:
import pickle

In [39]:
pickle.dump(lr, open('../dist/model.pkl', 'wb'))

In [34]:
test.sample(1)

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,...,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes,class_bad,class_good
137,12.0,766.0,4.0,3.0,66.0,1.0,1.0,True,False,False,...,False,False,False,True,True,False,False,True,True,False

In [35]:
import json

In [37]:
json.dumps(test.sample(1).to_dict(orient='records')[0])

'{"duration": 24.0, "credit_amount": 1285.0, "installment_commitment": 4.0, "residence_since": 4.0, "age": 32.0, "existing_credits": 1.0, "num_dependents": 1.0, "checking_status_0<=X<200": false, "checking_status_<0": true, "checking_status_>=200": false, "checking_status_no checking": false, "credit_history_all paid": false, "credit_history_critical/other existing credit": false, "credit_history_delayed previously": false, "credit_history_existing paid": true, "credit_history_no credits/all paid": false, "purpose_business": false, "purpose_domestic appliance": false, "purpose_education": false, "purpose_furniture/equipment": false, "purpose_new car": true, "purpose_other": false, "purpose_radio/tv": false, "purpose_repairs": false, "purpose_retraining": false, "purpose_used car": false, "savings_status_100<=X<500": false, "savings_status_500<=X<1000": false, "savings_status_<100": false, "savings_status_>=1000": false, "savings_status_no known savings": true, "employment_1<=X<4": false, "employment_4<=X<7": true, "employment_<1": false, "employment_>=7": false, "employment_unemployed": false, "personal_status_female div/dep/mar": true, "personal_status_male div/sep": false, "personal_status_male mar/wid": false, "personal_status_male single": false, "other_parties_co applicant": false, "other_parties_guarantor": false, "other_parties_none": true, "property_magnitude_car": false, "property_magnitude_life insurance": false, "property_magnitude_no known property": true, "property_magnitude_real estate": false, "other_payment_plans_bank": false, "other_payment_plans_none": true, "other_payment_plans_stores": false, "housing_for free": false, "housing_own": false, "housing_rent": true, "job_high qualif/self emp/mgmt": false, "job_skilled": true, "job_unemp/unskilled non res": false, "job_unskilled resident": false, "own_telephone_none": true, "own_telephone_yes": false, "foreign_worker_no": false, "foreign_worker_yes": true, "class_bad": true, "class_good": false}'

In [40]:
test.to_csv('../dist/test.csv', index=False)

In [41]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

In [45]:
y_test = y_test.astype(int)

# exibe as métricas de avaliação
print("MAE:", mean_absolute_error(y_test, predito))
print("MSE:", mean_squared_error(y_test, predito))
print("RMSE:", mean_squared_error(y_test, predito)**0.5)
print("R2:", r2_score(y_test, predito))

# calcula a pontuação média em 5 splits do conjunto de dados
# scores = cross_val_score(lr, x_train, y_train.astype(int), cv=5, scoring='neg_mean_squared_error')
# print("MSE médio:", -scores.mean())

MAE: 0.215
MSE: 0.215
RMSE: 0.4636809247747852
R2: -0.04419621175327815